/* order */
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

a {
  text-decoration: none;
}

:link,
:visited {
  color: inherit;
}

header,
section {
  margin: 0 auto;
}

span {
  font-weight: bold;
}

.navbar {
  width: 100%;
  margin-bottom: 40px;
}

.navbar-nav {
  margin-left: 100px;
}

.carousel_title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}

.carousel {
  max-width: 1100px;
  margin: 0 auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}

/* ---------------constructor------------- */
.size-controls {
  background-color: lightblue;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-controls {
  background-color: lightcoral;
  height: 60vmin;
  width: calc(100% - 60vmin);
  order: 3;
}

/* ingredient */
.ingredient__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0;
}

.ingredient {
  width: 17vmin;
  height: 17vmin;
  list-style: none;
  background-position: center;
  background-size: 80% 80%;
  background-repeat: no-repeat;
}

.ingredient:nth-child(1) {
  background-image: url("./img/ingredients/Chicken.png");
}

.ingredient:nth-child(2) {
  background-image: url("./img/ingredients/Pepperoni.png");
}

.ingredient:nth-child(3) {
  background-image: url("./img/ingredients/Pepper.png");
}

.ingredient:nth-child(4) {
  background-image: url("./img/ingredients/Pineapple.png");
}

.ingredient:nth-child(5) {
  background-image: url("./img/ingredients/Corn.png");
}

.ingredient:nth-child(6) {
  background-image: url("./img/ingredients/Cheese.png");
}

.ingredient:nth-child(7) {
  background-image: url("./img/ingredients/Mustard.png");
}

.ingredient:nth-child(8) {
  background-image: url("./img/ingredients/Ketchup.png");
}

.ingredient:nth-child(9) {
  background-image: url("./img/ingredients/Mayonnaise.png");
}

.ingredient > label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ingredient > label:has(input:checked) {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3333333333);
}

.preview {
  background-color: lightgreen;
  height: 60vmin;
  width: 60vmin;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza {
  background-color: lightyellow;
  height: 90%;
  width: 90%;
  transition: 100ms;
  background-image: url("../img/ingredients/Pizza.png");
  background-size: 100% 100%;
}

:has([value=middle]:checked) ~ .preview > .pizza {
  height: 75%;
  width: 75%;
}

:has([value=small]:checked) ~ .preview > .pizza {
  height: 60%;
  width: 60%;
}

.layers {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layer {
  position: absolute;
  inset: 0;
  list-style: none;
  background-position: center;
  background-size: 100% 100%;
}

.layer:nth-child(1) {
  background-image: url("../img/ingredients/Chicken group.png");
  background-size: 95% 85%;
  background-repeat: no-repeat;
}

.layer:nth-child(2) {
  background-image: url("../img/ingredients/Pepperoni group.png");
  background-size: 81% 76%;
  background-repeat: no-repeat;
}

.layer:nth-child(3) {
  background-image: url("../img/ingredients/Pepper group.png");
  background-size: 53% 53%;
  background-repeat: no-repeat;
}

.layer:nth-child(4) {
  background-image: url("../img/ingredients/Pineapple group.png");
  background-size: 54% 46%;
  background-repeat: no-repeat;
}

.layer:nth-child(5) {
  background-image: url("../img/ingredients/Corn group.png");
  background-size: 99% 93%;
  background-repeat: no-repeat;
}

.layer:nth-child(6) {
  background-image: url("../img/ingredients/Cheese group.png");
  background-size: 73% 62%;
  background-repeat: no-repeat;
}

.layer:nth-child(7) {
  background-image: url("../img/ingredients/Mustard group.png");
  background-size: 117% 51%;
  background-repeat: no-repeat;
}

.layer:nth-child(8) {
  background-image: url("../img/ingredients/Ketchup group.png");
  background-size: 88% 40%;
  background-repeat: no-repeat;
}

.layer:nth-child(9) {
  background-image: url("../img/ingredients/Mayonnaise group.png");
  background-size: 42% 138%;
  background-repeat: no-repeat;
}

:has(.ingredient:nth-child(1) input:not(:checked)) + .preview .layer:nth-child(1),
:has(.ingredient:nth-child(2) input:not(:checked)) + .preview .layer:nth-child(2),
:has(.ingredient:nth-child(3) input:not(:checked)) + .preview .layer:nth-child(3),
:has(.ingredient:nth-child(4) input:not(:checked)) + .preview .layer:nth-child(4),
:has(.ingredient:nth-child(5) input:not(:checked)) + .preview .layer:nth-child(5),
:has(.ingredient:nth-child(6) input:not(:checked)) + .preview .layer:nth-child(6),
:has(.ingredient:nth-child(7) input:not(:checked)) + .preview .layer:nth-child(7),
:has(.ingredient:nth-child(8) input:not(:checked)) + .preview .layer:nth-child(8),
:has(.ingredient:nth-child(9) input:not(:checked)) + .preview .layer:nth-child(9) {
  display: none;
}

.total {
  background-color: lightseagreen;
  height: 10vh;
  width: 100%;
  order: 4;
}

/* --------BANNER-------- */
.discount-banner {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 20px;
  transition: all 0.5s ease;
}
.discount-banner:hover {
  position: absolute;
  bottom: calc(100% - 50vh);
  left: 50%;
  transform: translate(-50%, 50%);
}
.discount-banner__content {
  text-align: center;
}
.discount-banner__content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.discount-banner__content p {
  font-size: 16px;
  margin-bottom: 20px;
}
.discount-banner__btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-aspect-ratio: 1.2) {
  .ingredient-controls {
    width: 100%;
    height: 30vh;
  }
  .ingredient {
    width: 9vh;
    height: 9vh;
  }
  .preview {
    height: 50vh;
    width: 50vh;
  }
}/*# sourceMappingURL=style.css.map */